# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# Virtual environments
.venv/
venv/
env/

# JAX / pytest caches
.pytest_cache/
.jax_cache/

# Editor / OS
.vscode/
*.code-workspace
.DS_Store

#DIR
README.md.amber19
